
@{
    ViewData["Title"] = "EmptyCart";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Your Have Not Added Any Hotel to Cart.</h2><br/><br/>
<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Continue Booking</a>

